{% extends 'base.html' %}
<html>
<head>
  {% block head %}
  <title>Client</title>
  <link rel="stylesheet" href="/static/style.css">
  {% endblock %}
</head>
<body>
{% block body %}
<div class="warning"><span class="warning-text">!warning!</span>This website is a work in progress<span class="warning-text">!warning!</span><br><a href="/info">more info</a></div>
<h1 class="white-text" style="text-align: center;">Download the client?</h1>
<h2 class="white-text" style="text-align: center;">It provides the ability to:</h2>
<h3 class="white-text" style="text-align: center;">auto refresh your score after completing a map,</h3>
<h3 class="white-text" style="text-align: center;">upload live gameplay data to the server</h3>
<a href="https://github.com/GDcheeriosYT/osu-api-crap-player-refresh/archive/refs/tags/v4.zip"><p style="text-align: center; font-size:  20px;">download</p></a>
{% endblock %}
</body>
</html>