<!doctype html>

<html lang="en">
  <head>
    {% block head %}
    
    <meta charset="utf-8">
    
    <title>match {{ match_data["match name"] }}</title>
    <meta name="description" content="view the match {{match_data["match name"]}}">
    <meta name="author" content="SitePoint">
    
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>
    
    {% endblock %}
  </head>
  {% extends 'base.html' %}
  <body>
    {% block body %}
      <!--
        --player key values--

        key = name
        count.value = the ranking of the player on the leaderboard
        value[0] = score
        value[1] = avatar link
        value[2] = background link
        value[3] = user profile link
        value[4] = level
        value[5] = progress to next level
        value[6] = formatted score
        value[6] = play count
        value[8] = user id

        --team key values--

        team_key = team name
        count.value = the ranking of the team and player depending on location in jinja2 loop
        team_value[0] = team score
        team_value[1] = call to player values-->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
          <script>
            let onTimeout = false
            let cover = false
            let sortType = "scoreHistory"
            let player_ids;
            let player_list = {}
            let team_ids;
            let team_list = JSON.parse('{{ teams|tojson }}')
            let wrapperHeight = 0
            var socket = io()
            const time = 150
            console.log(socket)
            setInterval(() => {
              socket.emit('match data get', "{{match_data['match name']}}")
              console.log("emitted")
            }, 200)
            socket.on('match data receive', (data) =>{
              player_list = data
              reRenderLiveStatus()
            })
            window.onload = function(){
              wrapperHeight = document.querySelector('.player_info_wrapper').offsetHeight
              if ("{{ match_data['mode']|safe }}" == "teams"){
                teamWrapperHeight = document.querySelector('.team_info_wrapper').offsetHeight
              }
              const players = document.querySelectorAll(".player_info")
              players.forEach((el)=> {
                player_list[el.dataset.id] = {}
              })
              console.log(player_list)
              console.log(team_list)
            }
            window.onresize = function(){
              wrapperHeight = document.querySelector('.player_info_wrapper').offsetHeight
              if ("{{ match_data['mode']|safe }}" == "teams"){
                teamWrapperHeight = document.querySelector('.team_info_wrapper').offsetHeight
              }
            }
            setInterval(() => {
                reArrangePlayers()
                reRenderPlayerScores()
                updateTeams()
            }, 2000)
            setInterval(() => {
              onTimeout = false
              //document.getElementByID('refresh-button').style.color = "grey"
            }, 60000)

            function toggleCovers(){
              cover = !cover
              reRenderLiveStatus()
              reRenderPlayerScores()
            }

            function refresh(id){
              if(onTimeout){
                document.querySelector('refresh-button').style.color = "black"
              }
              else{
                let xhr = new XMLHttpRequest();
                xhr.open('POST', "/refresh/" + id);
                  xhr.send()
                onTimeout = true
                document.querySelector('refresh-button').style.color = "black"
              }
            }

            function reRenderPlayerScores(){
              Object.keys(player_list).forEach((key, i) => {
                const player = document.querySelector(".player_info[data-id='" + key + "']")
                if (cover){
                  player.style.background = "url('"+player_list[key]['background url']+"')"
                }
                else{
                  if ("{{ match_data['mode']|safe }}" == "teams"){
                    for(var i = 0; i < Object.entries(team_list).length; i++){
                      let team_player_list = Object.entries(team_list)[i][1]["players"]
                      for(var g = 0; g < team_player_list.length; g++){
                        if(key == team_player_list[g]){
                          player.style.background = Object.entries(team_list)[i][1]["color"] + " url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Osu-triangles.svg/1200px-Osu-triangles.svg.png') 100% "
                        }
                      }
                    }
                  }
                  else player.style.background = "#052122 url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Osu-triangles.svg/1200px-Osu-triangles.svg.png') 100% "
                }

                if(sortType == "scoreHistory"){
                  const scoreEl = player.querySelector('.score')
                  let score = parseInt(scoreEl.textContent.replace(/\,/g, ''));
                  let scoreDiff = (player_list[key]["score"] - score)
                  if(scoreDiff!=0){
                    var scoreThing = document.createElement("h1");
                    if (scoreDiff>0){
                      scoreThing.innerHTML = "+" + numberWithCommas(scoreDiff)
                      scoreThing.style.color = "white"
                    }
                    else{
                      scoreThing.innerHTML = numberWithCommas(scoreDiff)
                      scoreThing.style.color = "white"
                    }
                    scoreThing.classList.add("addedscore")
                    player.querySelector(".namebox").appendChild(scoreThing)
                    updateNumberOverTime(returnValuesInBetween(score, player_list[key]["score"], 1500), scoreEl, 1500, " score")
                    setTimeout(() => {scoreThing.remove()}, 2000)
                  }
                }
                else{
                  const scoreEl = player.querySelector('.score')
                  let score = parseInt(scoreEl.textContent.replace(/\,/g, ''));
                  let scoreDiff = (player_list[key]["rank"] - score)
                  if(scoreDiff!=0){
                    var scoreThing = document.createElement("h1");
                    if (scoreDiff>0){
                      scoreThing.innerHTML = "+" + numberWithCommas(scoreDiff)
                      scoreThing.style.color = "white"
                    }
                    else{
                      scoreThing.innerHTML = numberWithCommas(scoreDiff)
                      scoreThing.style.color = "white"
                    }
                    scoreThing.classList.add("addedscore")
                    player.querySelector(".namebox").appendChild(scoreThing)
                    if(player_list[key]["rank"] == 999999999){
                      scoreEl.textContent = "unranked"
                    }
                    else{
                      updateNumberOverTime(returnValuesInBetween(score, player_list[key]["rank"], 1500), scoreEl, 1500, "")
                    }
                    setTimeout(() => {scoreThing.remove()}, 1500)
                  }
                }
              });
            }

            function setSortType(type){
              sortType = "" + type
            }

            function getColor(value) {
              const max = 200
              const min = 1
              var startColor = '#002f37'
              var endColor = '#8b0000'
              var startRGB = hexToRgb(startColor);
              var endRGB = hexToRgb(endColor);
              var ratio = 2 * (value - min) / (max - min);
              var r = Math.ceil(startRGB.r * ratio + endRGB.r * (2 - ratio));
              var g = Math.ceil(startRGB.g * ratio + endRGB.g * (2 - ratio));
              var b = Math.ceil(startRGB.b * ratio + endRGB.b * (2 - ratio));
              if(value == 0){
                return 'rgb(0, 0, 0)';
              }
              return 'rgb(' + r + ',' + g + ',' + b + ')';
            }

            function hexToRgb(hex) {
              var r = parseInt(hex.slice(1, 3), 16);
              var g = parseInt(hex.slice(3, 5), 16);
              var b = parseInt(hex.slice(5, 7), 16);
              return {r, g, b};
            }

            function reRenderLiveStatus(){
              Object.keys(player_list).forEach((key, i) => {
                const player = document.querySelector(".live-status[data-id='" + key + "']")
                const data = player_list[key]
                if (data.liveStatus){
                  player.classList = "live-status active"
                  const {gameplay, mapInfo, state} = data.liveStatus
                  //console.log(gameplay, mapInfo, state)
                  //gameplay:accuracy,score,combo
                  //mapInfo:background  => metadata:artist,difficulty,title
                  if(cover){
                    let mapBackground = mapInfo.background
                    player.style.background = "url('"+mapBackground+"')"
                  }
                  else{
                    if(state == "Playing") player.style.background = getColor(gameplay.health)
                    else if(state == "ResultsScreen") player.style.background = "#63b869"
                    else player.style.background = "#002f37"
                  }
                  if(state == "MainMenu" || state == "SongSelect"){
                    player.querySelector(".map-info").style.fontSize = "1.5vh"
                    player.querySelector(".map-info").style.margin = "1vh"
                    player.querySelector(".map-info").style.whiteSpace = "normal"
                    player.querySelector(".map-artist").innerHTML = mapInfo.metadata.artist + " - "
                    player.querySelector(".map-title").innerHTML = mapInfo.metadata.title
                    player.querySelector(".map-difficulty").innerHTML = "[" + mapInfo.metadata.difficulty + "]"
                    player.querySelector(".gameplay-top").style.display = "none"
                    player.querySelector(".gameplay-bottom").style.display = "none"
                  }
                  else if(state == "Playing" || state == "ResultsScreen"){
                    player.querySelector(".map-info").style.whiteSpace = "nowrap"
                    player.querySelector(".map-info").style.margin = "4px"
                    player.querySelector(".gameplay-top").style.display = "flex"
                    player.querySelector(".gameplay-bottom").style.display = "flex"
                    player.querySelector(".map-info").style.fontSize = "1vh"
                    player.querySelector(".map-artist").innerHTML = mapInfo.metadata.artist + " - "
                    player.querySelector(".map-title").innerHTML = mapInfo.metadata.title
                    player.querySelector(".map-difficulty").innerHTML = "[" + mapInfo.metadata.difficulty + "]"
                    updateNumberOverTime(returnValuesInBetween(parseInt(player.querySelector(".gameplay-score").textContent.replace(/\,/g, '')), gameplay.score, time), player.querySelector(".gameplay-score"), time, " score")
                    updateNumberOverTime(returnValuesInBetween(parseInt(player.querySelector(".gameplay-combo").textContent.replace(/\,/g, '')), gameplay.combo, time), player.querySelector(".gameplay-combo"), time, "x/")
                    updateNumberOverTime(returnValuesInBetween(parseInt(player.querySelector(".max-gameplay-combo").textContent.replace(/\,/g, '')), gameplay.maxCombo, time), player.querySelector(".max-gameplay-combo"), time, "x")
                    updateNumberOverTime(returnValuesInBetween(parseInt(player.querySelector(".gameplay-accuracy").textContent.replace(/\,/g, '')), parseInt(gameplay.accuracy), time), player.querySelector(".gameplay-accuracy"), time, "%")
                    player.querySelector(".gameplay-grade").innerHTML = gameplay.grade
                    if (gameplay.grade == "F" || gameplay.grade == "D"){
                      player.querySelector(".gameplay-grade").style.color = "red"
                    }
                    else if (gameplay.grade == "C"){
                      player.querySelector(".gameplay-grade").style.color = "purple"
                    }
                    else if (gameplay.grade == "B"){
                      player.querySelector(".gameplay-grade").style.color = "blue"
                    }
                    else if (gameplay.grade == "A"){
                      player.querySelector(".gameplay-grade").style.color = "green"
                    }
                    else if (gameplay.grade == "S"){
                      player.querySelector(".gameplay-grade").style.color = "yellow"
                    }
                    else{
                      player.querySelector(".gameplay-grade").style.color = "yellow"
                    }
                    updateNumberOverTime(returnValuesInBetween(parseInt(player.querySelector(".gameplay-100").textContent.replace(/\,/g, '')), parseInt(gameplay.hundred), time), player.querySelector(".gameplay-100"), time, "")
                    updateNumberOverTime(returnValuesInBetween(parseInt(player.querySelector(".gameplay-50").textContent.replace(/\,/g, '')), parseInt(gameplay.fifty), time), player.querySelector(".gameplay-50"), time, "")
                    updateNumberOverTime(returnValuesInBetween(parseInt(player.querySelector(".gameplay-misses").textContent.replace(/\,/g, '')), parseInt(gameplay.misses), time), player.querySelector(".gameplay-misses"), time, "")
                    updateNumberOverTime(returnValuesInBetween(parseInt(player.querySelector(".gameplay-pp").textContent.replace(/\,/g, '')), parseInt(gameplay.pp), time), player.querySelector(".gameplay-pp"), time, "pp")
                    player.querySelector(".gameplay-mods").innerHTML = mapInfo.mods
                  }

                  playerStatus = document.querySelector(".player_info[data-id='"+key+"']")
                  playerStatus.querySelector(".status").classList = "status active"
                }
                else{
                  playerStatus = document.querySelector(".player_info[data-id='"+key+"']")
                  playerStatus.querySelector(".status").classList = "status"
                  player.classList = "live-status"
                }
              })
            }

            function reArrangePlayers(){
              let list = Object.entries(player_list)
              list = list.map((el) => {
                return { id: el[0], score: sortType === 'scoreHistory' ? el[1].score : el[1].rank - el[1].rank * 2}
              })


              list.sort((a, b) =>{
                let comparison = 0;
                if (a.score < b.score) {
                  comparison = 1;
                } else if (a.score > b.score) {
                  comparison = -1;
                }
                return comparison;
              })

              document.querySelector(".match").style.minHeight = list.length * wrapperHeight + "px"

                  list.forEach((player, i) => {
                    const el = document.querySelector(`.player_info_wrapper[data-id="${player.id}"]`)
                  const posNumberEl = el.querySelector(".player_position")
                  posNumberEl.innerText = i + 1
                  el.style.position = "absolute"
                  el.style.transform = `translateY(${i * wrapperHeight * 1.3}px)`
                  const playerEl = document.querySelector(`.player_info[data-id="${player.id}"]`)
                  if (posNumberEl == 1){
                    playerEl.style.backgroundColor = "white"
                  }
                })

              if ("{{ match_data['mode']|safe }}" == "teams"){
                list = Object.entries(team_list)
                list = list.map((el) => {
                  return { id: el[0], score: parseInt(document.querySelector(`.team_info[data-id="${el[0]}"]`).querySelector(".team_score").textContent.replace(/\,/g, ''))}
                })


                list.sort((a, b) =>{
                  let comparison = 0;
                  if (a.score < b.score) {
                    comparison = 1;
                  } else if (a.score > b.score) {
                    comparison = -1;
                  }
                  return comparison;
                })

                document.querySelector(".match").style.minHeight = list.length * teamWrapperHeight + "px"

                list.forEach((team, i) => {
                  const el = document.querySelector(`.team_info_wrapper[data-id="${team.id}"]`)
                  const posNumberEl = el.querySelector(".team_position")
                  posNumberEl.innerText = i + 1
                  el.style.zIndex = i + i
                  el.style.position = "absolute"
                  el.style.transform = `translateY(${(i * (teamWrapperHeight * 1.5))}px)`
                })
              }
            }

            function updateTeams(){
              if ("{{ match_data['mode']|safe }}" == "teams"){
                for(var i = 0; i < Object.entries(team_list).length; i++){
                  const el = document.querySelector(`.team_info[data-id="${Object.keys(team_list)[i]}"]`)
                  let team_player_list = Object.entries(team_list)[i][1]["players"]
                  let score = 0
                  for(var g = 0; g < team_player_list.length; g++){
                    const player = document.querySelector(".player_info[data-id='" + team_player_list[g] + "']")
                    const scoreEl = player.querySelector('.score')
                    let playerScore = parseInt(scoreEl.textContent.replace(/\,/g, ''));
                    score += playerScore
                  }
                  el.querySelector('.team_score').innerHTML = numberWithCommas(score)
                }
              }
            }

            function returnValuesInBetween(startValue, endValue, duration) {
              const fps = 15
              let resultArray = [];
              let totalCaptureAmount = Math.floor(duration / fps);

              let incrementer = (endValue - startValue) / totalCaptureAmount;

              for (let i = 0; i < totalCaptureAmount; i++) {
                resultArray.push(Math.floor(startValue + incrementer * i));
              }
              resultArray.push(endValue);
              return resultArray;
            }

            function updateNumberOverTime(numberArray, element, duration, ending) {
              let incrementer = Math.floor(duration / numberArray.length);

              for (let i = 0; i < numberArray.length; i++) {
                let currentValue = numberArray[i];
                setTimeout(
                  () => {
                    element.textContent = numberWithCommas(currentValue) + ending;
                  },
                  (i + 1) * incrementer,
                  currentValue
                );
              }
            }

            function numberWithCommas(x) {
              return x.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
            }

          </script>
            {% if match_data["mode"] == "ffa" %}
              <h1 class="single">{{match_data["match name"]}}</h1>
            {% else %}
              <h1 class="teammode">{{match_data["match name"]}}</h1>
            {% endif %}
            <div class="match">
              {% if match_data["mode"] == "teams" %}
                <div class="teams">
                {% set count = namespace(value=1) %}
                  {% for team in match_data["team metadata"] %}
                    <div class="team_info_wrapper" data-id="{{team}}">
                      <div class="team_info" data-id="{{team}}" style="background-color: {{match_data["team metadata"][team]["team color"]}};">
                        <h1 style="margin: 0;">
                          #<span class="team_position">{{count.value}}</span>
                          {{ team }}
                        </h1>
                        <h2 style="margin: 0;" class="team_score">
                          {{ teams[team]["score"] }}
                        </h2>
                      </div>
                    </div>
                    {% set count.value = count.value + 1 %}
                  {% endfor %}
                </div>
              {% endif %}
              {% set count = namespace(value=1) %}
              {% for key, value in players.items() %}
              <div style="display: flex;" class="player_info_wrapper" data-id="{{ value[8] }}">
                {% if match_data["mode"] == "teams" %}
                {% for team in match_data["team metadata"] %}
                {% for player in match_data["team metadata"][team]["players"] %}
                      {% if value[8]|int == player|int %}
                        <div class="player_info" data-id="{{ value[8] }}">
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                {% else %}
                  <div class="player_info" data-id="{{ value[8] }}">
                {% endif %}
                  <div style="display: flex;">
                    <h1 class="namebox">
                      <img src="{{ value[1] }}">
                      #<span class="player_position">{{count.value}}</span>
                      <a target="_blank" href="{{ value[3] }}" class="name">
                        {% if value[8]|string in match_data["nicknames"] %}
                          {{match_data["nicknames"][value[8]|string]}}
                        {% else %}
                          {{ key }}
                        {% endif %}
                      </a>
                      <span class="score">
                        {{ value[6] }} score
                      </span>
                      <span class="status">
                      </span>
                    </h1>
                    {% if request.cookies.get('userID') != None %}
                    {% if get_osu_id(request.cookies.get('userID')) == value[8]|int %}
                      <button data-id="refresh-button" onclick="refresh('{{ value[8] }}')" style="background-color: #0cb7d5; color: #04131c; font-size: 2.5vh; border-radius: 12px; border: none; padding: 0px; margin-left: auto; margin-right: 1vw;">refresh</button>
                    {% endif %}
                  {% endif %}
                  </div>
                </div>
                <div class="live-status" data-id="{{value[8]}}">
                  <div class="map-info">
                    <div class="left">
                      <span class="map-artist">
                        artist - 
                      </span>
                      <span class="map-title">
                        map
                      </span>
                    </div>
                    <div class="right">
                      <span class="map-difficulty">
                        easy
                      </span>
                    </div>
                  </div>
                  <div class="gameplay-top">
                    <span class="gameplay-grade">
                      F
                    </span>
                    <p class="icon" style="color: green; text-shadow: 4px 4px 8px #000000;">100</p>
                    <span class="gameplay-100">
                      0
                    </span>
                    <p class="icon" style="color: gold; text-shadow: 4px 4px 8px #000000;">50</p>
                    <span class="gameplay-50">
                      0
                    </span>
                    <p class="icon" style="color: red; text-shadow: 4px 4px 8px #000000;">x</p>
                    <span class="gameplay-misses">
                      0
                    </span>
                    <p></p>
                    <span class="gameplay-pp">
                      0pp
                    </span>
                  </div>
                  <div class="gameplay-bottom">
                    <span class="gameplay-mods">
                      NM
                    </span>
                    <p></p>
                    <span class="gameplay-accuracy">
                      0%
                    </span>
                    <h4 class="gameplay-score">
                      0 score
                    </h4>
                    <div style="display:flex;">
                      <span class="gameplay-combo">
                        0x|
                      </span>
                      <span class="max-gameplay-combo">
                        0x
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              {% set count.value = count.value + 1 %}
              {% endfor %}
            </div>
        <h2></h2>
      </div>
    </div>
    <div>
      <div style="position: fixed; zIndex: 99999; top: 60vh; left: 80vw;">
        <button onclick="setSortType('scoreHistory');reRenderPlayerScores()" style="width: 6vw; height: 4vh;">Score Gain</button>
        <button onclick="setSortType('');reRenderPlayerScores()" style="width: 6vw; height: 4vh;">Rank</button>
        <h3 style="color: white;">enable image covers</h3>
        <label class="switch">
          <input type="checkbox" onclick="toggleCovers()">
          <span class="slider round"></span>
        </label>
      </div>
    </div>
    <!--graph-box-->
    <canvas id="myChart" width="400" height="400"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.0/dist/chart.min.js">
      let graphData = JSON.parse('{{match_data["graph data"]|tojson}}')
      const ctx = document.getElementById('myChart').getContext('2d');
      const myChart = new Chart(ctx, {
        type: 'line',
        data: {
          datasets: [{
            data:{
              
            }
          }]
        }
      })
    </script>
    {% endblock %}
  </body>
  </html>