<!doctype html>

<html lang="en">
  <head>
    {% block head %}
    
    <meta charset="utf-8">
    
    <title>match {{ match_data["match name"] }}</title>
    <meta name="description" content="view the match {{match_data["match name"]}}">
    <meta name="author" content="SitePoint">
    
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>
    
    {% endblock %}
  </head>
  {% extends 'base.html' %}
  <body>
    {% block body %}
      
      <!--
        --player key values--
        
        key = name
        count.value = the ranking of the player on the leaderboard
        value[0] = score
        value[1] = avatar link
        value[2] = background link
        value[3] = user profile link
        value[4] = recent score gained since last submitted play
        value[5] = level 
        value[6] = progress to next level
        value[7] = user recent map background
        value[8] = user recent map name 
        value[9] = user recent map difficulty
        value[10] = map url
        value[11] = mods used
        value[12] = song artist
        value[13] = accuracy
        value[14] = max combo
        value[15] = grade of the map just played
        value[16] = grade color
        value[17] = formatted score
        value[18] = play count
        value[19] = user id
        
        --team key values--
        
        team_key = team name
        count.value = the ranking of the team and player depending on location in jinja2 loop
        team_value[0] = team score
        team_value[1] = call to player values-->
        
        <div class="warning"><span class="warning-text">!warning!</span>This website is a work in progress<span class="warning-text">!warning!</span><br><a href="/info">more info</a></div>
        {% if match_data["mode"] == "teams" %}
          <script>
            let player_ids;
            let player_list = {}
            let wrapperHeight = 0
            window.onload = function(){
              wrapperHeight = document.querySelector('.player_info_wrapper').offsetHeight
              const players = document.querySelectorAll(".player_info")
              players.forEach((el)=> {
                player_list[el.dataset.id] = {}
              })
              player_ids =Object.keys(player_list).join("+")
              updatePlayers()
              setInterval(() =>{
                updatePlayers()
              }, 1000)
            }
      
            window.onresize = function(){
              updatePlayers()
              wrapperHeight = document.querySelector('.player_info_wrapper').offsetHeight
              reArrangePlayers()
            }
            
            function handleResponse(data){
              Object.keys(data).forEach(key => {
                player_list[key] = data[key]
              })
              reRenderLiveStatus()
              reArrangePlayers()
              reRenderPlayerScores()
            }
            
            function reRenderPlayerScores(){
              Object.keys(player_list).forEach((key, i) => {
                const player = document.querySelector(".player_info[data-id='" + key + "']")
                const scoreEl = player.querySelector('.score')
                let score = parseInt(scoreEl.textContent.replace(/\,/g, ''));
                let scoreDiff = (player_list[key]["score"] - score)
                if(scoreDiff!=0){
                  var scoreThing = document.createElement("h1");
                  if (scoreDiff>0){
                    scoreThing.innerHTML = "+" + numberWithCommas(scoreDiff)
                    scoreThing.style.color = "green"
                  }
                  else{
                    scoreThing.innerHTML = numberWithCommas(scoreDiff)
                    scoreThing.style.color = "red"
                  }
                  scoreThing.classList.add("addedscore")
                  player.querySelector(".namebox").appendChild(scoreThing)
                  updateNumberOverTime(returnValuesInBetween(score, player_list[key]["score"]), scoreEl, " score")
                  setTimeout(() => {scoreThing.remove()}, 2000)
                }
              });
            }
            
            function reRenderLiveStatus(){
              Object.keys(player_list).forEach((key, i) => {
                const player = document.querySelector(".live-status[data-id='" + key + "']")
                player.classList = "live-status"
                const data = player_list[key]
                if (data.liveStatus){
                  player.classList = "live-status active"
                  const {gameplay, mapInfo, lists} = data.liveStatus
                  //gameplay:accuracy,score,combo
                  //mapInfo:background  => metadata:artist,difficulty,title
                  player.style.backgroundImage = "linear-gradient(to top, #5A5A5A, #5A5A5A50)," + " url(" + mapInfo.background + ")"
                  player.querySelector(".map-artist").innerHTML = mapInfo.metadata.artist + " - "
                  player.querySelector(".map-title").innerHTML = mapInfo.metadata.title
                  player.querySelector(".map-difficulty").innerHTML = mapInfo.metadata.difficulty
                  updateNumberOverTime(returnValuesInBetween(parseInt(player.querySelector(".gameplay-score").textContent.replace(/\,/g, '')), gameplay.score), player.querySelector(".gameplay-score"), " score")
                  updateNumberOverTime(returnValuesInBetween(parseInt(player.querySelector(".gameplay-combo").textContent.replace(/\,/g, '')), gameplay.combo), player.querySelector(".gameplay-combo"), "x")
                  updateNumberOverTime(returnValuesInBetween(parseInt(player.querySelector(".gameplay-accuracy").textContent.replace(/\,/g, '')), parseInt(gameplay.accuracy)), player.querySelector(".gameplay-accuracy"), "%")
                  playerStatus = document.querySelector(".player_info[data-id='"+key+"']")
                  playerStatus.querySelector(".status").innerHTML = "online"
                  playerStatus.querySelector(".status").classList = "status active"
                  playerStatus.style.width = "65vw"
                }
                else{
                  playerStatus = document.querySelector(".player_info[data-id='"+key+"']")
                  playerStatus.querySelector(".status").innerHTML = "offline"
                  playerStatus.querySelector(".status").classList = "status"
                  playerStatus.style.width = "91vw"
                }
              })
            }
      
            function reArrangePlayers(){
              let list = Object.entries(player_list)
              list = list.map((el) => {
                return {
                  id : el[0],
                  score : el[1].score
                }
              })
              list.sort((a, b) =>{
                let comparison = 0;
                if (a.score < b.score) {
                  comparison = 1;
                } else if (a.score > b.score) {
                  comparison = -1;
                }
                return comparison;
              })
      
              console.log(list)
              
              document.querySelector(".match-teams").style.minHeight = list.length * wrapperHeight + "px"
      
              list.forEach((player, i) => {
                const el = document.querySelector(`.player_info_wrapper[data-id="${player.id}"]`)
                const posNumberEl = el.querySelector(".player_position")
                posNumberEl.innerText = i + 1
                el.style.position = "absolute"
                el.style.transform = `translateY(${i * wrapperHeight}px)`
                console.log(el)
              })
            }
      
            
            function updatePlayers(){
              fetch("http://gdcheerios.com/api/grab/" + player_ids + "/" + '{{ match_data["match name"] }}')
              .then(res => res.json())
              .then((data) => handleResponse(data))
            }
            
            function test(num){
              Object.keys(player_list).forEach(key => {
                player_list[key]["score"] += num
              });
              reRenderPlayerScores()
            }
            
            
            let config = {
              duration: 1200,
              fps: 5,
            };
            
            function returnValuesInBetween(startValue, endValue) {
              let resultArray = [];
              let totalCaptureAmount = Math.floor(config.duration / config.fps);
            
              let incrementer = (endValue - startValue) / totalCaptureAmount;
              //console.log(incrementer);
            
              for (let i = 0; i < totalCaptureAmount; i++) {
                resultArray.push(Math.floor(startValue + incrementer * i));
              }
              resultArray.push(endValue);
              return resultArray;
            }
            
            function updateNumberOverTime(numberArray, element, ending) {
              let incrementer = Math.floor(config.duration / numberArray.length);
            
              for (let i = 0; i < numberArray.length; i++) {
                let currentValue = numberArray[i];
                setTimeout(
                  () => {
                    element.textContent = numberWithCommas(currentValue) + ending;
                  },
                  (i + 1) * incrementer,
                  currentValue
                );
              }
            }
        
            function numberWithCommas(x) {
              return x.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
            }
      
          </script>
          <div class="gameBox" id="bodymovin">
            <h1 style="font-size: 4vw;">Teams</h1>
            <div class="match-teams">
              {% set count_team = namespace(value=1) %}  
              {% for team_key, team_value in teams.items() %}
              <div class="teambox" data-team_name="{{team_key}}"><h1 class="namebox"><span>#{{ count_team.value }} {{ team_key }}</span> <span class="score">{{team_value[0]}}</span></h1>
                {% set count_player = namespace(value=1) %}
                {% for key, value in team_value[1].items() %}
                  <div style="display: flex;" class="player_info_wrapper" data-id="{{ value[19] }}">
                    <div class="player_info" data-id="{{ value[19] }}" style="background-image: linear-gradient(to top, #ffffff, #ffffff50), url({{ value[2] }});">
                      <div style="display: flex;">
                        <h1 class="namebox">
                          <img src="{{ value[1] }}">
                          #<span class="player_position">{{count_player.value}}</span>
                          <a href="{{ value[3] }}">
                            {% if value[19]|string in match_data["nicknames"] %}
                              {{match_data["nicknames"][value[19]|string]}}
                            {% else %}
                              {{ key }}
                            {% endif %}
                          </a>
                          <span class="score">
                            {{ value[17] }} score
                          </span>
                          <span class="status">
                            offline
                          </span>
                        </h1>
                      </div>
                    </div>
                    <div class="live-status" style="transform: translateX(-100%); background" data-id="{{value[19]}}">
                      <div class="map-info">
                        <div class="left">
                          <span class="map-artist">
                            artist - 
                          </span>
                          <span class="map-title">
                            map
                          </span>
                        </div>
                        <div class="right">
                          <span class="map-difficulty">
                            easy
                          </span>
                        </div>
                      </div>
                      <div class="gameplay">
                        <span class="gameplay-accuracy">
                          0%
                        </span>
                        <h4 class="gameplay-score">
                          0 score
                        </h4>
                        <span class="gameplay-combo">
                          0x
                        </span>
                      </div>
                    </div>
                  </div>
                {% set count_player.value = count_player.value + 1 %}
                {% endfor %}
              </div>
              {% set count_team.value = count_team.value + 1 %}
              {% endfor %}
            </div>
          </div>
        {% else %}
          <script>
            let player_ids;
            let player_list = {}
            let wrapperHeight = 0
            var delay = 1000
            window.onload = function(){
              wrapperHeight = document.querySelector('.player_info_wrapper').offsetHeight
              const players = document.querySelectorAll(".player_info")
              players.forEach((el)=> {
                player_list[el.dataset.id] = {}
              })
              player_ids =Object.keys(player_list).join("+")
              updatePlayers()
              setInterval(() =>{
                updatePlayers()
              }, delay)
            }
      
            window.onresize = function(){
              updatePlayers()
              wrapperHeight = document.querySelector('.player_info_wrapper').offsetHeight
              reArrangePlayers()
            }

            function getDelay(){
              return new Promise((resolve, reject) => {
                fetch('http://gdcheerios.com/api/get-delay/')
                  .then(response => response.json())
                  .then((data) => {
                      resolve( data.delay );
                      delay = resolve * 1000
                  })
                  .catch(reject);
              })    
            }
            
            function handleResponse(data){
              Object.keys(data).forEach(key => {
                player_list[key] = data[key]
              })
              reRenderLiveStatus()
              reArrangePlayers()
              reRenderPlayerScores()
            }
            
            function reRenderPlayerScores(){
              Object.keys(player_list).forEach((key, i) => {
                const player = document.querySelector(".player_info[data-id='" + key + "']")
                const scoreEl = player.querySelector('.score')
                let score = parseInt(scoreEl.textContent.replace(/\,/g, ''));
                let scoreDiff = (player_list[key]["score"] - score)
                if(scoreDiff!=0){
                  var scoreThing = document.createElement("h1");
                  if (scoreDiff>0){
                    scoreThing.innerHTML = "+" + numberWithCommas(scoreDiff)
                    scoreThing.style.color = "white"
                  }
                  else{
                    scoreThing.innerHTML = numberWithCommas(scoreDiff)
                    scoreThing.style.color = "white"
                  }
                  scoreThing.classList.add("addedscore")
                  player.querySelector(".namebox").appendChild(scoreThing)
                  updateNumberOverTime(returnValuesInBetween(score, player_list[key]["score"]), scoreEl, " score")
                  setTimeout(() => {scoreThing.remove()}, 2000)
                }
              });
            }
            
            function reRenderLiveStatus(){
              Object.keys(player_list).forEach((key, i) => {
                const player = document.querySelector(".live-status[data-id='" + key + "']")
                player.classList = "live-status"
                const data = player_list[key]
                if (data.liveStatus){
                  player.classList = "live-status active"
                  const {gameplay, mapInfo, lists} = data.liveStatus
                  //gameplay:accuracy,score,combo
                  //mapInfo:background  => metadata:artist,difficulty,title
                  player.style.backgroundColor = "dark-blue"
                  player.querySelector(".map-artist").innerHTML = mapInfo.metadata.artist + " - "
                  player.querySelector(".map-title").innerHTML = mapInfo.metadata.title
                  player.querySelector(".map-difficulty").innerHTML = mapInfo.metadata.difficulty
                  updateNumberOverTime(returnValuesInBetween(parseInt(player.querySelector(".gameplay-score").textContent.replace(/\,/g, '')), gameplay.score), player.querySelector(".gameplay-score"), " score")
                  updateNumberOverTime(returnValuesInBetween(parseInt(player.querySelector(".gameplay-combo").textContent.replace(/\,/g, '')), gameplay.combo), player.querySelector(".gameplay-combo"), "x/")
                  updateNumberOverTime(returnValuesInBetween(parseInt(player.querySelector(".max-gameplay-combo").textContent.replace(/\,/g, '')), gameplay.maxCombo), player.querySelector(".max-gameplay-combo"), "x")
                  updateNumberOverTime(returnValuesInBetween(parseInt(player.querySelector(".gameplay-accuracy").textContent.replace(/\,/g, '')), parseInt(gameplay.accuracy)), player.querySelector(".gameplay-accuracy"), "%")
                  player.querySelector(".gameplay-grade").innerHTML = gameplay.grade
                  if (gameplay.grade == "F" || gameplay.grade == "D"){
                    player.querySelector(".gameplay-grade").style.color = "red"
                  }
                  else if (gameplay.grade == "C"){
                    player.querySelector(".gameplay-grade").style.color = "purple"
                  }
                  else if (gameplay.grade == "B"){
                    player.querySelector(".gameplay-grade").style.color = "blue"
                  }
                  else if (gameplay.grade == "A"){
                    player.querySelector(".gameplay-grade").style.color = "green"
                  }
                  else if (gameplay.grade == "S"){
                    player.querySelector(".gameplay-grade").style.color = "yellow"
                  }
                  else{
                    player.querySelector(".gameplay-grade").style.color = "yellow"
                  }
                  updateNumberOverTime(returnValuesInBetween(parseInt(player.querySelector(".gameplay-100").textContent.replace(/\,/g, '')), parseInt(gameplay.hundred)), player.querySelector(".gameplay-100"), "")
                  updateNumberOverTime(returnValuesInBetween(parseInt(player.querySelector(".gameplay-50").textContent.replace(/\,/g, '')), parseInt(gameplay.fifty)), player.querySelector(".gameplay-50"), "")
                  updateNumberOverTime(returnValuesInBetween(parseInt(player.querySelector(".gameplay-misses").textContent.replace(/\,/g, '')), parseInt(gameplay.misses)), player.querySelector(".gameplay-misses"), "")
                  updateNumberOverTime(returnValuesInBetween(parseInt(player.querySelector(".gameplay-pp").textContent.replace(/\,/g, '')), parseInt(gameplay.pp)), player.querySelector(".gameplay-pp"), "pp")
                  player.querySelector(".gameplay-mods").innerHTML = mapInfo.mods
                  playerStatus = document.querySelector(".player_info[data-id='"+key+"']")
                  playerStatus.querySelector(".status").classList = "status active"
                }
                else{
                  playerStatus = document.querySelector(".player_info[data-id='"+key+"']")
                  playerStatus.querySelector(".status").classList = "status"
                }
              })
            }
      
            function reArrangePlayers(){
              let list = Object.entries(player_list)
              list = list.map((el) => {
                return {
                  id : el[0],
                  score : el[1].score
                }
              })
              list.sort((a, b) =>{
                let comparison = 0;
                if (a.score < b.score) {
                  comparison = 1;
                } else if (a.score > b.score) {
                  comparison = -1;
                }
                return comparison;
              })
      
              console.log(list)
              
              document.querySelector(".match").style.minHeight = list.length * wrapperHeight + "px"
      
              list.forEach((player, i) => {
                const el = document.querySelector(`.player_info_wrapper[data-id="${player.id}"]`)
                const posNumberEl = el.querySelector(".player_position")
                posNumberEl.innerText = i + 1
                el.style.zIndex = i + i
                el.style.position = "absolute"
                el.style.transform = `translateY(${i * wrapperHeight}px)`
                console.log(el)
              })
            }
      
            
            function updatePlayers(){
              fetch("http://gdcheerios.com/api/grab/" + player_ids + "/" + '{{ match_data["match name"] }}')
              .then(res => res.json())
              .then((data) => handleResponse(data))
            }
            
            function test(num){
              Object.keys(player_list).forEach(key => {
                player_list[key]["score"] += num
              });
              reRenderPlayerScores()
            }
            
            
            let config = {
              duration: delay+200,
              fps: delay/1000,
            };
            
            function returnValuesInBetween(startValue, endValue) {
              let resultArray = [];
              let totalCaptureAmount = Math.floor(config.duration / config.fps);
            
              let incrementer = (endValue - startValue) / totalCaptureAmount;
              //console.log(incrementer);
            
              for (let i = 0; i < totalCaptureAmount; i++) {
                resultArray.push(Math.floor(startValue + incrementer * i));
              }
              resultArray.push(endValue);
              return resultArray;
            }
            
            function updateNumberOverTime(numberArray, element, ending) {
              let incrementer = Math.floor(config.duration / numberArray.length);
            
              for (let i = 0; i < numberArray.length; i++) {
                let currentValue = numberArray[i];
                setTimeout(
                  () => {
                    element.textContent = numberWithCommas(currentValue) + ending;
                  },
                  (i + 1) * incrementer,
                  currentValue
                );
              }
            }
        
            function numberWithCommas(x) {
              return x.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
            }
      
          </script>
            <h1 class="single">{{match_data["match name"]}}</h1>
            <div class="match">
              {% set count = namespace(value=1) %}
              {% for key, value in players.items() %}
              <div style="display: flex;" class="player_info_wrapper" data-id="{{ value[19] }}">
                <div class="player_info" data-id="{{ value[19] }}">
                  <div style="display: flex;">
                    <h1 class="namebox">
                      <img src="{{ value[1] }}">
                      #<span class="player_position">{{count.value}}</span>
                      <a href="{{ value[3] }}">
                        {% if value[19]|string in match_data["nicknames"] %}
                          {{match_data["nicknames"][value[19]|string]}}
                        {% else %}
                          {{ key }}
                        {% endif %}
                      </a>
                      <span class="score">
                        {{ value[17] }} score
                      </span>
                      <span class="status">
                      </span>
                    </h1>
                  </div>
                </div>
                <div class="live-status" data-id="{{value[19]}}">
                  <div class="map-info">
                    <div class="left">
                      <span class="map-artist">
                        artist - 
                      </span>
                      <span class="map-title">
                        map
                      </span>
                    </div>
                    <div class="right">
                      <span class="map-difficulty">
                        easy
                      </span>
                    </div>
                  </div>
                  <div class="gameplay-top">
                    <span class="gameplay-grade">
                      F
                    </span>
                    <p class="icon" style="color: green; text-shadow: 4px 4px 8px #000000;">100</p>
                    <span class="gameplay-100">
                      0
                    </span>
                    <p class="icon" style="color: gold; text-shadow: 4px 4px 8px #000000;">50</p>
                    <span class="gameplay-50">
                      0
                    </span>
                    <p class="icon" style="color: red; text-shadow: 4px 4px 8px #000000;">x</p>
                    <span class="gameplay-misses">
                      0
                    </span>
                    <p></p>
                    <span class="gameplay-pp">
                      0pp
                    </span>
                  </div>
                  <div class="gameplay-bottom">
                    <span class="gameplay-mods">
                      NM
                    </span>
                    <p></p>
                    <span class="gameplay-accuracy">
                      0%
                    </span>
                    <h4 class="gameplay-score">
                      0 score
                    </h4>
                    <div style="display:flex;">
                      <span class="gameplay-combo">
                        0x|
                      </span>
                      <span class="max-gameplay-combo">
                        0x
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              {% set count.value = count.value + 1 %}
              {% endfor %}
            </div>
        {% endif %}
        <h2></h2>
      </div>
    </div>
    <div>
      <h1>graph view</h1>
      <div class="graph-style-box">
        <a href="/matches/{{match_name}}/normal">overall score gain</a>
        <a href="/matches/{{match_name}}/daily-score-gain">daily score gain</a>
      </div>
    </div>
    <!--graph-box-->
    
    <h1>graphs temporarily removed because of an issue...</h1>
    
    <br>
    
    <!--<iframe src="https://web.libera.chat/?nick=Guest?#osuapicrap" style="border:0; width:100%; height:450px;"></iframe>-->
    
    {% endblock %}
  </body>
  </html>
