{% extends 'base.html' %}
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
    
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <div class="warning"><span class="warning-text">!warning!</span>This website is a work in progress<span class="warning-text">!warning!</span><br><a href="/info">more info</a></div>
    <br>
    <h1 class="white-text">Welcome to the <span>osu!</span> score farm website!</h1>
    <h2 class="white-text" style="text-align: center">battle with up to as many players in osu! online competition!</h2>
    <h2 class="white-text" style="text-align: center">What does this website do? Well this website kinda simulates osu! multiplayer but on a website, there are no limits to players, and you can play any map you want! How does that work? Well it counts how much score you have gained since the match has started. The player who has more score will be the top</h2>
    <hr>
    
    <!--<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSelij-bT_lFojDqYp_zANdeOL35lu7ta10KhO0fqJE24zhZCA/viewform?embedded=true" width="640" height="435" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>-->
    
    <h1 class="white-text">credits</h1>
    <table class="table-thing">
      <tr>
        <th class="white-text">support</th>
        <th class="white-text">name</th>
        <th class="white-text">profile picture</th>
      </tr>
      <tr>
        <td class="white-text">designer and programmer</td>
        <td class="white-text"><a href="https://osu.ppy.sh/users/11339405">GDcheerios</a></td>
        <td><img src="https://a.ppy.sh/11339405"></td>
      </tr>
      <tr>
        <td class="white-text">osu api help</td>
        <td class="white-text"><a href="https://osu.ppy.sh/users/13789505">st4rstrukk</a>  </td>
        <td><img src="https://a.ppy.sh/13789505"></td>
      </tr>
      <tr>
        <td class="white-text">osu api help</td>
        <td class="white-text"><a href="https://osu.ppy.sh/users/10000899">shdewz</a></td>
        <td><img src="https://a.ppy.sh/10000899"></td>
      </tr>
      <tr>
        <td class="white-text">osu api help</td>
        <td class="white-text"><a href="https://osu.ppy.sh/users/3242450">Death</a></td>
        <td><img src="https://a.ppy.sh/3242450"></td>
      </tr>
      
    </table>
    {% endblock %}
  </body>
  </html>