{% extends 'base.html' %}
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
    
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <div class="warning"><span class="warning-text">!warning!</span>This website is a work in progress<span class="warning-text">!warning!</span><br><a href="/info">more info</a></div>
    <br>
    <h1 class="white-text">Welcome to the osu! score farm website!</h1>
    <h2 class="white-text" style="text-align: center">Farm your way to the top in the osu! score farm website.</h2>
    {% endblock %}
  </body>
  </html>