{% extends 'base.html' %}
<html>

    <head>
        {% block head %}

            <title>matches</title>
            <meta name="description" content="View matches that are currently in progress and matches that were in progress at one point">
            <meta name="author" content="GDcheerios">
            <script src="{{url_for('static', filename='script.js')}}"></script>

            <link rel="stylesheet" href="/static/style.css">

        {% endblock %}
    </head>

    <body>
        {% block body %}
            {% if has_perm(request.cookies.get('userID'), "osu") %}
                <div class="api" onclick="location.href = '/osu/create';"><h1>Create Match</h1></div>
            {% endif %}

            <h1 class="white-text" style="text-align: center; font-size: 100px;">Current Matches</h1>

            {% if matches.matches|length == 0 %}
                <h1 style="white-space: nowrap; text-align: center; font-size: 80px;">no matches found...</h1>
            {% endif %}

            {% for match in matches.matches %}
                <div class="match-box">
                    <a href="matches/{{match.name}}">{{match.name}}</a>
                    <div class="match-data">
                        <div class="data-box">users = {{match.players|length}}</div>
                        <div class="data-box">mode = {{match.mode}}</div>
                    </div>
                </div>
                <div class="spacing"><br></div>
            {% endfor %}

            <hr>

            <h1 class="white-text" style="text-align: center; font-size: 100px;">Match History</h1>
            {% if matches.old_matches|length == 0 %}
                <h1 class="white-text" style="text-align: center; font-size: 80px;">no matches found...</h1>
            {% endif %}

            {% for match in matches.old_matches %}
                <div class="match-box" style="background-image: linear-gradient(to top, #00000095 10%, #00000000 80%)">
                    <a href="matches/{{match.name}}">{{match.name}}</a>
                    <div class="match-data">
                        <div class="data-box">users = {{match.players|length}}</div>
                        <div class="data-box">mode = {{match.mode}}</div>
                    </div>
                </div>
                <div class="spacing"><br></div>
            {% endfor %}
        {% endblock %}
    </body>
</html>