{% extends 'base.html' %}
<html>

    <head>
        {% block head %}
        
        <title>matches</title>
        <meta name="description" content="View matches that are currently in progress and matches that were in progress at one point">
        <meta name="author" content="GDcheerios">
        <script src="{{url_for('static', filename='script.js')}}"></script>
        
        <link rel="stylesheet" href="/static/style.css">
        
        {% endblock %}
    </head>
    
    <body>
        {% block body %}
        
        {% for match in current_matches %}
        
        <script removeme>
            window.currentMatch = []
        </script>
        
        {% for id in match_data(match, True)["users"] %}
        
        <script removeme>
            window.currentMatch.push('{{ player_data(id, specific_data=["background url"])[0] }}')
        </script>
        
        {% endfor %}
        
        <script removeme>
            window.currentMatches.push(window.currentMatch)
        </script>
        
        {% endfor %}
        
        <script removeme>
            document.querySelectorAll("[removeme]").forEach((el) => {
                el.remove()
            })
        </script>
        
        <div class="warning"><span class="warning-text">!warning!</span>This website is a work in progress<span class="warning-text">!warning!</span><br><a href="/info">more info</a></div>
        
        <h1 class="white-text" style="text-align: center; font-size: 100px;">Current Matches</h1>
        
        {% if current_matches|length == 0 %}
        
        <h1 style="white-space: nowrap; text-align: center; font-size: 80px;">no matches found...</h1>
        
        {% endif %}
        
        {% for match in current_matches %}
        
        {% if match != "__pycache__" %}
        
        <div class="match-box" style="background-image: linear-gradient(to top, #00000095 10%, #00000000 80%)">
            <a href="matches/{{match}}/normal">{{match[:-5]}}</a>
            <div class="match-data">
                <div class="data-box">users = {{match_data(match, True)["users"]|length}}</div>
                <div class="data-box">mode = {{match_data(match, True)["mode"]}}</div>
            </div>
            <div class="bg-image" test="{{loop.index - 1}}"> 
                <img onload="test({{loop.index - 1}})" test="{{loop.index - 1}}" src="{{ player_data(match_data(match, True)["users"][random_number(0 ,match_data(match, True)["users"]|length - 1)], specific_data=["background url"])[0] }}">
                <div class="overlay"></div>
            </div>
        </div>
        <div class="spacing"><br></div>
        
        {% endif %}
        
        {% endfor %}
        
        <hr>
        
        <h1 class="white-text" style="text-align: center; font-size: 100px;">Match History</h1>
        
        {% if previous_matches|length == 0 %}
        
        <h1 class="white-text" style="text-align: center; font-size: 80px;">no matches found...</h1>
        
        {% endif %}
        
        {%for match in previous_matches%}
        
        {% if match != "__pycache__" %}
        
        <div class="match-box" style="background-image: linear-gradient(to top, #00000095 10%, #00000000 80%)">
            <a href="matches/old/{{match}}">{{match[:-5]}}</a>
            <div class="match-data">
                <div class="data-box">users = {{match_data(match, False)["users"]|length}}</div>
                <div class="data-box">mode = {{match_data(match, False)["mode"]}}</div>
            </div>
        </div>
        <div class="spacing"><br></div>
        
        {% endif %}
        
        {% endfor %}
        
        {% endblock %}
    </body>
</html>