<!doctype html>

<html lang="en">
<head>

  <meta charset="utf-8">

  <title>match {{ match_data["match name"] }}</title>
  <meta name="description" content="view the match {{match_data["match name"]}}">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="/static/style.css">
</head>

<body>

  <!--<script src="anime.min.js"></script>-->

  <!--
    --player key values--
              
      key = name
      count.value = the ranking of the player on the leaderboard
      value[0] = score
      value[1] = avatar link
      value[2] = background link
      value[3] = user profile link
      value[4] = recent score gained since last submitted play
      value[5] = level 
      value[6] = progress to next level 
      value[7] = user recent map background 
      value[8] = user recent map name 
      value[9] = user recent map difficulty
      value[10] = map url
      value[11] = mods used
      value[12] = song artist
      value[13] = accuracy
      value[14] = max combo
      value[15] = grade of the map just played
      value[16] = grade color
      value[17] = formatted score
      value[18] = play count 
      value[19] = score data for different days
      
      --team key values--

      team_key = team name
      count.value = the ranking of the team and player depending on location in jinja2 loop
      team_value[0] = team score
      team_value[1] = call to player values-->

  <div class="rectangle_menu"><a href="/">Home</a> <a href="/matches">Matches</a> <a href="/players">Players</a> <a href="/client">Client</a></div>

    <!--<div class="weekly_map">

    </div>-->

    <h1 class="single">{{match_data["match name"]}}</h1>
    <div class="match">
      {% set count = namespace(value=1) %}
      {% for key, value in players.items() %}
      <div style="display: flex;" class="player_info_wrapper" data-id="{{ value[8] }}">
        <div class="player_info" data-id="{{ value[8] }}">
          <div style="display: flex;">
            <h1 class="namebox">
              <img src="{{ value[1] }}">
              #<span class="player_position">{{count.value}}</span>
              <a href="{{ value[3] }}">
                {% if value[8]|string in match_data["nicknames"] %}
                  {{match_data["nicknames"][value[8]|string]}}
                {% else %}
                  {{ key }}
                {% endif %}
              </a>
              <span class="score">
                {{ value[6] }} score
              </span>
              <span class="status">
              </span>
            </h1>
          </div>
        </div>
        <div class="live-status" data-id="{{value[8]}}">
          <div class="map-info">
            <div class="left">
              <span class="map-artist">
                artist - 
              </span>
              <span class="map-title">
                map
              </span>
            </div>
            <div class="right">
              <span class="map-difficulty">
                easy
              </span>
            </div>
          </div>
          <div class="gameplay-top">
            <span class="gameplay-grade">
              F
            </span>
            <p class="icon" style="color: green; text-shadow: 4px 4px 8px #000000;">100</p>
            <span class="gameplay-100">
              0
            </span>
            <p class="icon" style="color: gold; text-shadow: 4px 4px 8px #000000;">50</p>
            <span class="gameplay-50">
              0
            </span>
            <p class="icon" style="color: red; text-shadow: 4px 4px 8px #000000;">x</p>
            <span class="gameplay-misses">
              0
            </span>
            <p></p>
            <span class="gameplay-pp">
              0pp
            </span>
          </div>
          <div class="gameplay-bottom">
            <span class="gameplay-mods">
              NM
            </span>
            <p></p>
            <span class="gameplay-accuracy">
              0%
            </span>
            <h4 class="gameplay-score">
              0 score
            </h4>
            <div style="display:flex;">
              <span class="gameplay-combo">
                0x|
              </span>
              <span class="max-gameplay-combo">
                0x
              </span>
            </div>
          </div>
        </div>
      </div>
      {% set count.value = count.value + 1 %}
      {% endfor %}
    </div>

</body>
</html>