{% extends 'base.html' %}
<html>
  <head>
    {% block head %}
    <title>{{ account.username }} profile</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="description" content="{{username}}'s profile">
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <div style="margin-top: 3%;">
      <img style="margin-left: auto; margin-right: auto; display: block;" src="/{{ account.pfp }}">
      <h1 class="username">{{account.username}}</h1>
      {% if request.cookies.get('userID') == account.id|string %}
        <p style="text-align: center;">Change username</p>
        <form action="/api/account/change-username" method="POST"><input type="text" name="username" pattern="[a-zA-Z0-9_$!]{1,24}" value="new username"></input><input type="submit" value="set"></form>
      {% endif %}
    </div>
    <div class="profile-info">
      <div class="profile-info-button" style="margin: 10px;" onclick='swapCategory("about-me")'>Details</div>
      {% if account.has_osu %}
        <div class="profile-info-button" style="margin: 10px;" onclick="window.open('https://osu.ppy.sh/users/{{account.osu_id}}', 'mywindow')">osu! (profile)</div>
      {% endif %}
      {% if account.has_gqc %}
      <div class="profile-info-button" style="margin: 10px;" onclick="swapCategory('gqc')">Gentry's Quest (Classic)</div>
      {% endif %}
      {% if account.has_gq %}
      <div class="profile-info-button" style="margin: 10px;" onclick="swapCategory('gq')">Gentry's Quest</div>
      {% endif %}
    </div>
    <div class="user-details">
      <div id="about-me">
        <h1>About Me</h1>
        <h2>{{ account.about|safe }}</h2>
      </div>
      <div id="gqc-data">
        {% if account.has_gqc %}
          {% set gqc_main = gentry_manager.get_ranking(account.id, true) %}
          {% set gqc_items = gentry_manager.get_items(account.id, true) %}
          <h1>Overall ranking</h1>
          <h1>{{ gqc_main }}</h1>
          <br>
          <h1>Top 100 items</h1>
          <div style="display: flex; flex-direction: row; justify-content: space-evenly;">
            <div id="classic-characters">
              <h1>Characters</h1>
              {% for item in gqc_items["characters"] %}
                <div style="character">
                  <h1>#{{ item["placement"] }} <a style="font-size: 100%;" href="/api/gq/get-item/{{ item['id'] }}" target="_blank">{{ item["name"] }}</a> {{ item["rating"] }}gp</h1>
                </div>
              {% endfor %}
            </div>
            <div id="classic-artifacts">
              <h1>Artifacts</h1>
              {% for item in gqc_items["artifacts"] %}
              <div style="character">
                <h1>#{{ item["placement"] }} <a style="font-size: 100%;" href="/api/gq/get-item/{{ item['id'] }}" target="_blank">{{ item["name"] }}</a> {{ item["rating"] }}gp</h1>
              </div>
              {% endfor %}
            </div>
            <div id="classic-weapons">
              <h1>Weapons</h1>
              {% for item in gqc_items["weapons"] %}
              <div style="character">
                <h1>#{{ item["placement"] }} <a style="font-size: 100%;" href="/api/gq/get-item/{{ item['id'] }}" target="_blank">{{ item["name"] }}</a> {{ item["rating"] }}gp</h1>
              </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
      <script>
        document.getElementById("gqc-data").style.display = 'none'
        document.getElementById("gq-data").style.display = 'none'

        function swapCategory(category){
          switch (category){
            case "about-me":
              document.getElementById("about-me").style.display = 'block'
              document.getElementById("gqc-data").style.display = 'none'
              document.getElementById("gq-data").style.display = 'none'
              break;

            case "gqc":
              document.getElementById("about-me").style.display = 'none'
              document.getElementById("gqc-data").style.display = 'block'
              document.getElementById("gq-data").style.display = 'none'
              break;

            case "gq":
              document.getElementById("about-me").style.display = 'none'
              document.getElementById("gqc-data").style.display = 'none'
              document.getElementById("gq-data").style.display = 'block'
              break;
          }
        }

      </script>
    </div>
    {% endblock %}
  </body>
</html>