{% extends 'base.html' %}
<html>
  <head>
    {% block head %}
    <title>{{ username }} profile</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="description" content="{{username}}'s profile">
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <div style="margin-top: 3%;">
      <img style="margin-left: auto; margin-right: auto; display: block;" src="{{profile_picture}}">
      {% if request.cookies.get('userID') == id %}
        <form action="/api/account/change-pfp" method="POST"><input type="text" name="url" value="url"></input><input type="submit" value="set"></form> 
      {% endif %}
      <h1 class="username">{{username}}</h1>
    </div>
    <div class="profile-info">
      <a style="margin: 10px;" onclick='show_details()'>Details</a>
      {% if osuid != 0 %}
        <a style="margin: 10px;" target=”_blank” href="https://osu.ppy.sh/users/{{osuid}}">OSU</a>
      {% endif %}
    </div>
    <div class="user-details" id="user-details">
      <h1>About Me:</h1>
      <h2>{{ about|safe }}</h2>
    </div>
    {% endblock %}
  </body>
</html>