<html>
    <head>
        <title>Artifact Creator</title>
    </head>
    <body>
        <form action = "/dev/gc/artifact/create" method = "POST">
            <p><h1>Artifact Name(Don't use symbols)</h1></p>
            <p><input type = 'text' name = 'name'/></p>
            <p><h1>Artifact Family</h1></p>
            <p><input type = 'text' name = 'family'/></p>
            <p><h1>Select a Buff</h1></p>
                <select name="buff"/>
                    <option value="">Random</option>
                    <option value="Health">Health</option>
                    <option value="Attack">Attack</option>
                    <option value="Defense">Defense</option>
                    <option value="CritRate">CritRate</option>
                    <option value="CritDamage">CritDamage</option>
                </select>
            <p><input type = 'submit' value = 'Create'/></p>
        </form>
        <h1>Your code:</h1>
        <p>{{artifact_output | default}}</p>
    </body>
</html>