{% extends 'base.html' %}
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="/static/style.css">
    <title>Server Player Stats</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <script>
      const br = document.createElement("br");
      let player_list = {}
      let wrapperHeight = 0
      window.onload = function(){
        wrapperHeight = document.querySelector('.player_info_wrapper').offsetHeight
        const players = document.querySelectorAll(".player_info")
        players.forEach((el)=> {
          player_list[el.dataset.id] = {}
        })
        setInterval(() => {
          updateData()
          console.log("updating player data")
        }, 1000)
      }

      window.onresize = function(){
        wrapperHeight = document.querySelector('.player_info_wrapper').offsetHeight
        reArrangePlayers()
      }

      function updateData(){
        fetch("/api/mc/giveMeMyPlayerStats")
        .then(res => res.json())
        .then((data) => handleResponse(data))
      }

      function reRenderPlayerValues(){
        Object.keys(player_list).forEach((key, i) => {
          console.log(player_list[key]["health"])
          const player = document.querySelector(".player_info[data-id='" + key + "']")
          const healthEl = player.querySelector('.health')
          player.querySelector(".health").innerHTML = player_list[key]["health"] + " health"
          const hungerEl = player.querySelector(".hunger")
          player.querySelector(".hunger").innerHTML = player_list[key]["hunger"] + " hunger"
          const levelEl = player.querySelector(".levelmc")
          player.querySelector(".levelmc").innerHTML = "level " + player_list[key]["level"] + " : " + player_list[key]["score"]
          const position = player.querySelector(".position")
          player.querySelector(".position").innerHTML = player_list[key]["position"]
        });
      }

      function reArrangePlayers(){
        let list = Object.entries(player_list)
        list = list.map((el) => {
          return {
            id : el[1].username,
            health : el[1].health,
            hunger : el[1].hunger,
            level : el[1].level,
            score : el[1].score,
            position : el[1].position
          }
        })
        list.sort((a, b) =>{
          let comparison = 0;
          console.log(a, b)
          if (a.health < b.health) {
            comparison = 1;
          } else if (a.health > b.health) {
            comparison = -1;
          }
          return comparison;
        })

        document.querySelector("body").style.minHeight = list.length * wrapperHeight + "px"

        list.forEach((player, i) => {
          const el = document.querySelector(`.player_info_wrapper[data-id="${player["id"]}"]`)
          el.style.position = "absolute"
          el.style.transform = `translateY(${(i * wrapperHeight)}px)`
          const playerEl = document.querySelector(`.player_info[data-id="${player["id"]}"]`)
        })
      }

      function handleResponse(data){
        data.poop.forEach(values => {
          player_list[values["username"]] = values
        })
        reRenderPlayerValues()
        reArrangePlayers()
      }

      let config = {
        duration: 2,
        fps: 5,
      };
      
      function returnValuesInBetween(startValue, endValue) {
        let resultArray = [];
        let totalCaptureAmount = Math.floor(config.duration / config.fps);
      
        let incrementer = (endValue - startValue) / totalCaptureAmount;
      
        for (let i = 0; i < totalCaptureAmount; i++) {
          resultArray.push(Math.floor(startValue + incrementer * i));
        }
        resultArray.push(endValue);
        return resultArray;
      }
      
      function updateNumberOverTime(numberArray, element, beginning, ending) {
        let incrementer = Math.floor(config.duration / numberArray.length);
      
        for (let i = 0; i < numberArray.length; i++) {
          let currentValue = numberArray[i];
          setTimeout(
            () => {
              element.textContent = beginning + numberWithCommas(currentValue) + ending;
            },
            (i + 1) * incrementer,
            currentValue
          );
        }
      }

      function numberWithCommas(x) {
        return x.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
      }
    </script>
      {% for player in player_data %}
        <div class="player_info_wrapper" data-id="{{ player['username'] }}">
          <div class="player_info" data-id="{{ player['username'] }}" style="height: 15.2vw; width: 90vw;">
            <h1 class="namebox">
              <img src="{{ player['avatar'] }}" style="width: 15.2vw; height: 14.9vw;">
              <span>{{ player["username"] }}</span>
              <br>
              <span class="health">health: {{ player["health"] }}</span>
              <br>
              <span class="hunger">hunger: {{ player["hunger"] }}</span>
              <br>
              <span class="levelmc">level: {{ player["level"] }}</span>
              <br>
              <span class="position">position: {{ player["position"] }}</span>
              <br>
            </h1>
          </div>
        </div>
      {% endfor %}
    {% endblock %}
  </body>
</html>