{% extends 'base.html' %}
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="/static/style.css">
    <title>Server Player Stats</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <script>
      const br = document.createElement("br");
      let player_list = {}
      window.onload = function(){
        const players = document.querySelectorAll(".player_info")
        players.forEach((el)=> {
          player_list[el.dataset.id] = {}
        })
        setInterval(() => {
          updateData()
          console.log("updating player data")
        }, 1000)
      }

      function updateData(){
        fetch("/api/mc")
        .then(res => res.json())
        .then((data) => handleResponse(data))
      }

      function reRenderPlayerValues(){
        Object.keys(player_list).forEach((key, i) => {
          console.log(player_list[key]["health"])
          const player = document.querySelector(".player_info[data-id='" + key + "']")
          const healthEl = player.querySelector('.health')
          let health = parseInt(healthEl.textContent.replace(/\,/g, ''))
          player.querySelector(".health").appendChild(br)
          player.querySelector(".health").innerHTML = player_list[key]["health"] + " health"
        });
      }

      function handleResponse(data){
        data.poop.forEach(values => {
          player_list[values["username"]] = values
        })
        reRenderPlayerValues()
      }

      let config = {
        duration: 2,
        fps: 5,
      };
      
      function returnValuesInBetween(startValue, endValue) {
        let resultArray = [];
        let totalCaptureAmount = Math.floor(config.duration / config.fps);
      
        let incrementer = (endValue - startValue) / totalCaptureAmount;
      
        for (let i = 0; i < totalCaptureAmount; i++) {
          resultArray.push(Math.floor(startValue + incrementer * i));
        }
        resultArray.push(endValue);
        return resultArray;
      }
      
      function updateNumberOverTime(numberArray, element, beginning, ending) {
        let incrementer = Math.floor(config.duration / numberArray.length);
      
        for (let i = 0; i < numberArray.length; i++) {
          let currentValue = numberArray[i];
          setTimeout(
            () => {
              element.textContent = beginning + numberWithCommas(currentValue) + ending;
            },
            (i + 1) * incrementer,
            currentValue
          );
        }
      }

      function numberWithCommas(x) {
        return x.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
      }
    </script>
    {% set count = namespace(value=1) %}
      {% for player in player_data %}
        <div class="player_info" data-id="{{ player["username"] }}" style="height: 10.2vw; margin: 10px;">
          <div style="display: flex;">
            <h1 class="namebox">
              <img src="{{ player["avatar"] }}" style="width: 9.8vw; height: 9.8vw;">
              #<span class="player_position">{{count.value}} {{ player["username"] }}</span>
              <span class="health">
                <br>
                health: {{ player["health"] }}
              </span>
              <span class="hunger">
                <br>
                hunger: {{ player["hunger"] }}
              </span>
              <span class="status">
              </span>
            </h1>
          </div>
        </div>
        {% endfor %}
    {% endblock %}
  </body>
</html>