{% extends 'base.html' %}
<html>
  <head>
    {% block head %}
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
    {% endblock %}
  </head>
  <body>
    {% block body %}
        <h1 style="font-size: 420%;">Join the <a style="font-size: 100%;" target="_blank" href="https://discord.gg/vDu7TaSwQg">Discord</a> for more info?</h1>
        <div style="margin: 2%;">
            <h1>Gentrys Quest Classic is currently down...</h1>
            <h1>However, you can try out the <a href="https://github.com/GDcheeriosYT/GentrysQuest/releases/download/2024.707.0/GentrysQuest-win-Setup.exe" target="_blank">new one!</a></h1>
        </div>
    {% endblock %}
  </body>
</html>