{% extends 'base.html' %}
<html>
  <head>
    {% block head %}
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
    {% endblock %}
  </head>
  <body>
    {% block body %}
        <h1 style="font-size: 420%;">
            Mr. Gentry's classroom has fallen into the hands of his wicked twin brother, Evil Gentry. Now, he needs the help of a mighty warrior—a Gentry Warrior. Battle through challenges, collect powerful items, and rise to become the ultimate Gentry Warrior!
            <br>
            <br>
            Join the <a style="font-size: 100%;" target="_blank" href="https://discord.gg/vDu7TaSwQg">Discord</a> for more info!
        </h1>
    {% endblock %}
  </body>
</html>