cra{% extends 'base.html' %}
<html>
  <head>
    {% block head %}
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
    {% endblock %}
  </head>
  <body>
    {% block body %}
        <h1>Gentry's Quest</h1>
        <div style="display: flex; justify-content: center;">
            <div class="gc-about1">
                <p>Fight Enemies</p>
                <iframe src="https://drive.google.com/file/d/1IG-Jv5kUH_xSWiB55Zs_I8pBrcmdhtXu/preview" width="264" height="248" allow="autoplay"></iframe>
            </div>
            <div>
                <p>Equip Artifacts</p>
                <iframe src="https://drive.google.com/file/d/16xb-2L6qoHgZGCgWTNCKld_ziyNebNCr/preview" width="264" height="248" allow="autoplay"></iframe>
            </div>
        </div>
        <h1>
            <a href="https://github.com/GDcheeriosYT/Gentrys-Quest-Python/releases/download/beta2/Gentrys.Quest.exe">Download V2.0.0-Beta</a>
            <a href="https://github.com/GDcheeriosYT/Gentrys-Quest-Python/releases/tag/beta2">More Info</a>
        </h1>
    {% endblock %}
  </body>
</html>