{% extends 'base.html' %}
<html>
  <head>
    {% block head %}
    <title>Leaderboard</title>
    <link rel="stylesheet" href="/static/style.css">
    {% endblock %}
  </head>
  <body style="background-color: black;">
    {% block body %}
		<h1 style="font-size: 300%;">{{classic_header}}</h1>
        <h2 style="text-align: center;"><span style="color: white;">GPSystem</span> <a href="https://github.com/GDcheeriosYT/GPSystem" target="_blank">Version {{version}}</a></h2>
	  	{% set count = namespace(value=1) %}
	  	{% for player in players %}
            <div class="gentry-card">
                <div class="count">
                    #{{count.value}}
                </div>
                <div class="playername">
                    <a href="/user/{{player[0]}}">{{player[1]}}</a>
                </div>
                <div class="ranking" style="background-color: {{get_color(player[3])}};">
                    {{ player[2] }} gp
                </div>
            </div>
            {% set count.value = count.value + 1 %}
	  	{% endfor %}
  	{% endblock %}
  </body>
</html>