{% extends 'base.html' %}
<html>
  <head>
    {% block head %}
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
    {% endblock %}
  </head>
  <body>
    {% block body %}
		<h1>Gentry's Quest Leaderboard</h1>
        {% set count = namespace(value=1) %}
	  	{% for player in players %}
            <p style="font-size: 20px; text-align: center;">#{{count.value}} <a href="/user/{{ids[count.value - 1]}}">{{player}}</a></p>
            <hr>
            {% set count.value = count.value + 1 %}
	  	{% endfor %}
  	{% endblock %}
  </body>
</html>