{% extends 'base.html' %}
<html>
  <head>
    {% block head %}
    <title>Leaderboard</title>
    <link rel="stylesheet" href="/static/style.css">
    {% endblock %}
  </head>
  <body style="background-color: black;">
    {% block body %}
		<h1>Gentry's Quest Leaderboard</h1>
        <h2 style="text-align: center;"><span style="color: white;">GPSystem</span> <a href="https://github.com/GDcheeriosYT/GPSystem" target="_blank">Version {{version}}</a></h2>
	  	{% set count = namespace(value=1) %}
	  	{% for player in players %}
            <h1 style="font-size: 20px; text-align: center; font: courier new;">#{{count.value}} <a style="font-size: 32px;" href="/user/{{player.id}}">{{player.account_name}}</a> <span style="font-size: 24px;">{{player.power_level['weighted']}} gp</span></h1>
            <hr>
            {% set count.value = count.value + 1 %}
	  	{% endfor %}
  	{% endblock %}
  </body>
</html>