{% extends 'base.html' %}
<html>
  <head>
    {% block head %}
    <title>Online Players</title>
    <link rel="stylesheet" href="/static/style.css">
    {% endblock %}
  </head>
  <body style="background-color: black;">
    {% block body %}
		<h1>Gentry's Quest Online Players</h1>
        <h2 style="text-align: center;"><span style="color: white;">GPSystem</span> <a href="https://github.com/GDcheeriosYT/GPSystem" target="_blank">Version {{version}}</a></h2>
	  	{% set count = namespace(value=1) %}
	  	{% for player in players %}
            <h2 style="text-align: center;"><span style="color: white;">GPSystem</span> <a href="https://github.com/GDcheeriosYT/GPSystem" target="_blank">Version {{version}}</a></h2>
            <hr>
            {% set count.value = count.value + 1 %}
	  	{% endfor %}
  	{% endblock %}
  </body>
</html>