{% extends 'base.html' %}
<html>
  <head>
    {% block head %}
    <title>Online Players</title>
    <link rel="stylesheet" href="/static/style.css">
    {% endblock %}
  </head>
  <body style="background-color: black;">
    {% block body %}
		<h1>Gentry's Quest Online Players</h1>
	  	{% set count = namespace(value=1) %}
	  	{% for player in players %}
            <h1 style="font-size: 20px; text-align: center; font: courier new;">#{{count.value}} <a style="font-size: 20px;" href="/user/{{player.id}}">{{player.account_name}}</a> <span style="font-size: 10px;">{{player.power_level}}p</span></h1>
            <hr>
            {% set count.value = count.value + 1 %}
	  	{% endfor %}
  	{% endblock %}
  </body>
</html>