{% extends 'base.html' %}
<html>
  <head>
    {% block head %}
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
    {% endblock %}
  </head>
  <body>
    {% block body %}
        <div id="screen" style="display: flex; flex-direction: row; justify-content: space-evenly;">
          {% set user = gqc_id(request.cookies.get('userID')) %}
          {% if user is not none %}
            <div id="your-ranking">
              <h1>Your Ranking</h1>
              <div class="ranking-box" id="gqc-ranking" style="background-color: #082b3b; color: white;">
                <h2 style="margin: 6px;">Gentry's Quest Classic</h2>
                <div id="gqc-ranking-info-container" style="display: flex; flex-direction: column; justify-content: space-evenly; box-shadow: 1px 1px 9px 1px #000000; border-radius: 2vw;">
                  <div id="top-gqc-rank-info" style="display: flex; flex-direction: top; justify-content: space-evenly; margin-top: 10px;">
                    <h2>#{{ gqc_rank(user.id) }}</h2>
                    <h2>{{ user.ranking.rank }}</h2>
                    <h2>{{ user.ranking.tier }}</h2>
                  </div>
                  <div id="bottom-gqc-rank-info" style="display: flex; flex-direction: top; justify-content: space-evenly; margin-top: 10px;">
                    <h2>{{user.power_level.weighted}}</h2>
                    <h2>{{user.power_level.unweighted}}</h2>
                    <h3 style="margin: 1px;">GP</h3>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
          <div id="rankings">
            {% for key in ranking_info.keys() %}
              <div class="ranking-box" id="{{ key }}">
                  <h1>{{ key }}</h1>
                  <div class="ranking-info-container">
                    {% for tier in ranking_info[key].keys() %}
                      <div style="display: flex; flex-direction: row; justify-content: space-evenly; margin: 2px;">
                        <h2>{{ tier }}</h2>
                        <h2>{{ ranking_info[key][tier] }}GP</h2>
                      </div>
                    {% endfor %}
                  </div>
              </div>
            {% endfor %}
          </div>
        </div>

      <script>
        function color_el(el, rank){
          var color;
          if (rank == "copper") color = "red";
          if (rank == "bronze") color = "brown";
          if (rank == "silver") color = "gray";
          if (rank == "gold") color = "gold";
          if (rank == "platinum") color = "blue";
          if (rank == "diamond") color = "cyan";
          if (rank == "gentry warrior") color = "lime";
          el.style.backgroundColor = color;
        }

        color_el(document.getElementById('copper'), "copper")
        color_el(document.getElementById('bronze'), "bronze")
        color_el(document.getElementById('silver'), "silver")
        color_el(document.getElementById('gold'), "gold")
        color_el(document.getElementById('platinum'), "platinum")
        color_el(document.getElementById('diamond'), "diamond")
        color_el(document.getElementById('gentry warrior'), "gentry warrior")
        {% if user is not none %}
          color_el(document.getElementById('gqc-ranking'), "{{user.ranking.rank}}")
        {% endif %}
      </script>
    {% endblock %}
  </body>
</html>