<html>
  <head>
    <title>GDcheerios overlay</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="screen-area">
    </div>
    <!--<div class="waifu">
      <img src="images/kawaii waifu.png">
    </div>-->
    <div class="camera-head"> 
      <div class="hrm">
        <img id="heart" src="images/heart.png">
        <embed id="heartrate" src="https://pulsoid.net/widget/view/0f167c8b-b50e-4ddc-b9da-b19fe1b9d953" width="90vw" height="90vw">
      </div>
    </div>
    <!--<script>
      setTimeout(() => location.reload(), 3000);
    </script>-->
  </body>
</html>