body{
  background: rgb(79,0,87);
  background: linear-gradient(0deg, rgba(79,0,87,1) 0%, rgba(228,116,187,1) 100%);
}

:root{
  --border-size: 1vw;
}

.screen-area{
  position: absolute;
  left: 1.5vw;
  top: 1.5vw;
  background-color: green;
  border: var(--border-size) solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(0deg, rgba(200,95,210,1) 0%, rgba(255,186,230,1) 100%);
  border-radius: var(--border-size);
  border-width: var(--border-size);
  width: 60vw;
  height: 34vw;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.726);
}

.camera-head{
  position: absolute;
  top: 20vw;
  left: 65vw;
  background-color: green;
  border: var(--border-size) solid;
  border-image-slice: 1;
  border-radius: var(--border-size);
  border-image-source: linear-gradient(0deg, rgba(200,95,210,1) 0%, rgba(255,186,230,1) 100%);
  width: 30vw;
  height: 20vw;
  box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, 0.726);
}

.camera-desk{
  position: absolute;
  background-color: green;
  border-image-slice: 1;
  border-image-source: linear-gradient(0deg, rgba(200,95,210,1) 0%, rgba(255,186,230,1) 100%);
  border-radius: var(--border-size);
  border-width: var(--border-size);
  border: var(--border-size) solid;
  width: 24vw;
  height: 20vw;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.726);
}

.hrm{
  position: absolute;
  top: -20vw;
  display: flex;
  z-index: 2;
}

.hrm img{
  width: 64px;
  height: 64px;
}

.waifu{
  position: absolute;
  left: 72vw;
}

.waifu img{
  width: 24vw;
  height: 24vw;
}