{% block head %}
<link rel="stylesheet" href="/static/style.css">
{% endblock %}
<div class="rectangle_menu">
  <nav>
    <p>GDcheerios.com</p>
    <ul style="margin-top: 0px;">
      <li class="dropdown"><a href="http://gdcheerios.com">Main</a>
        <ul class="dropdown-content">
          <li><a href="http://gdcheerios.com">Home</a></li>
          <li><a href="https://github.com/GDcheeriosYT/website-project">Github</a></li>
        </ul>
      </li>
      <li class="dropdown"><a href="/minecraft">Minecraft</a>
        <ul class="dropdown-content">
          <li><a href="/minecraft">Server</a></li>
        </ul>
      </li>
      <li class="dropdown"><a href="/osu">osu</a>
        <ul class="dropdown-content">
          <li><a href="/osu">Home</a></li>
          <li><a href="/osu/matches">Matches</a></li>
          <li><a href="/osu/players">Players</a></li>
          <li><a href="/osu/client">Client</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
{% block body %}{% endblock %}