{% block head %}
{% endblock %}
<div class="rectangle_menu">
  <nav>
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <ul>
          <li class="dropdown-special"><p id="thecom" style="margin: 1%; text-align: left;">GDcheerios.com</p></li>
      </ul>
      <ul>
          <li class="dropdown"><a href="/">Main</a>
            <ul class="dropdown-content">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About Me</a></li>
              <li><a href="https://github.com/GDcheeriosYT/website-project">Github</a></li>
<!--              <li><a href="/status">Status</a></li>-->
            </ul>
          </li>
    	  <li class="dropdown"><a href="/gentrys-quest">Gentry's Quest</a>
            <ul class="dropdown-content">
              <li><a href="/gentrys-quest">Home</a></li>
              <li><a href="/gentrys-quest/leaderboard">Leaderboard</a></li>
<!--              <li><a href="/gentrys-quest/online-players">Online Players</a></li>-->
              <li><a href="/gentrys-quest/ranking">Ranking Info</a></li>
            </ul>
          </li>
<!--          <li class="dropdown"><a href="/minecraft">Minecraft</a>-->
<!--            <ul class="dropdown-content">-->
<!--              <li><a href="/minecraft">Server</a></li>-->
<!--              <li><a href="/minecraft/stats">Player Stats</a></li>-->
<!--            </ul>-->
<!--          </li>-->
          <li class="dropdown"><a href="/osu/matches">osu</a>
            <ul class="dropdown-content">
              <li><a href="/osu/matches">Matches</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="/account">Account</a>
            <ul class="dropdown-content">
              {% if request.cookies.get('userID') != None %}
                <li><a href="/user/{{ request.cookies.get('userID') }}">Profile</a></li>
                <li><a href="/account/signout">Sign Out</a></li>
                {% if request.cookies.get('userID') == "1" %}
                <li class="dropdown"><a href="/control">API</a></li>
                {% endif %}
              {% else %}
                <li><a href="/account/login">Log In</a></li>
                <li><a href="/account/create">Create Account</a></li>
              {% endif %}
            </ul>
          </li>
      </ul>
    </div>
  </nav>
<!--  <p>This website is a work in progress...</p>-->
</div>
<script>
  const nameEl = document.getElementById('thecom')
  if (Math.floor(Math.random() * 100) < 20) nameEl.innerHTML = "GDcheeriosDotCom"
</script>
{% block body %}{% endblock %}