{% extends 'base.html' %}
<html>
<head>
  {% block head %}
  <title>website control</title>
  <link rel="stylesheet" href="/static/style.css">
  {% endblock %}
</head>
<body>
  {% block body %}
		{% if request.cookies.get('userID') == "1" %}
	    <div class="api-block">
	      <h1>Start Match</h1>
	      <div class="api-block-extra">
	        <form action="http://gdcheerios.com/api/match-start" method="post">
	        </form>
	      </div>
	    </div>
	    {{ total_websockets }}
		{% else %}
			<h1>access denied...</h1>
		{% endif %}
  {% endblock %}
</body>
</html>