{% extends 'base.html' %}
<html>
<head>
  {% block head %}
  <title>website control</title>
  <link rel="stylesheet" href="/static/style.css">
  {% endblock %}
</head>
<body>
  {% block body %}
    <div class="api-block">
      <h1>Start Match</h1>
      <div class="api-block-extra">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ request.form['match name'] }}"><br><br>
        <label for="mode">Mode:</label><br>
        <label for="mode1">Free For All</label>
        <input type="checkbox" id="mode1" name="mode1" value="FFA"><br>
        <label for="mode2">Teams</label>
        <input type="checkbox" id="mode2" name="mode2" value="Teams"><br><br>
        <button type="submit">Submit</button>
      </div>
    </div>
  {% endblock %}
</body>
</html>