{% extends 'base.html' %}
<html>
  <head>
    {% block head %}
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
    <script
            async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5675992934458479"
            crossorigin="anonymous"></script>
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <h1>This home page doesn't have much...</h1>
    <div>
      <h1 style="font-size: 95%;">Join the discord?</h1>
      <div style="display: flex; justify-content: center;">
        <iframe src="https://discord.com/widget?id=998580472177234001&theme=dark" width="500" height="600" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
      </div>
    </div>
    <div>
      <h1>Support the development</h1>
      <h3 style="margin-left: 20%; margin-right: 20%; ">
        I appreciate your visit to my website! If you find my content valuable and would like to support my efforts, consider making a donation. Your contributions help me continue to update content and improve my services. Every little bit helps, and I am grateful for your support.
      </h3>
      <h4>Thank you for considering a <a style="font-size: 100%;" href="https://www.paypal.com/donate/?business=4ZTHQTG8PGNB4&no_recurring=1&item_name=Thanks+a+ton+for+the+support%21&currency_code=USD" target="_blank">donation</a>!</h4>
    </div>
    {% endblock %}
  </body>
</html>
