{% extends 'base.html' %}
<html>
  <head>
    {% block head %}
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <h1>This home page doesn't have much...</h1>
    <div>
      <h1 style="font-size: 95%;">Join the discord?</h1>
      <div style="display: flex; justify-content: center;">
        <!--<iframe src="https://discord.com/widget?id=998580472177234001&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>-->
        <iframe src="https://discord.com/widget?id=998580472177234001&theme=dark" width="500" height="600" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
      </div>
    </div>
    {% endblock %}
  </body>
</html>