<html>
<head>
<title>website warning info</title>

<link rel="stylesheet" href="/static/style.css">

</head>
<body>

<div class="rectangle_menu"><a href="/">Home</a> <a href="/matches">Matches</a> <a href="/players">Players</a> <a href="/client">Client</a></div>

<ul>

<li>Levels in <a href="/matches/example%20match.json">matches</a> may change or be inaccurate</li>
<li>Some elements may not be aligned properly</li>
<li>Colors and look of the website may look unfinished</li>
<li>Elements that go across all pages, ex: navigation bar, may differ</li>
<li>Some links may not work as intended</li>
<li>A lot of things may change visually on pages, <b>OBIVOUSLY</b></li>
<li>Graphs may reset every once and a while due to back end changes</li>

</ul>

<h1 style="text-align: center;">If you have any ideas for the website, post it <a href="https://github.com/GDcheeriosYT/osu-api--crap/discussions/50">here</a></h1>

</body>
</html>