<html>

    <head>

        <title>matches</title>

    <style>
    </style>
    
    </head>

    <body style="background-color: purple;">

        {% for match in current_matches %}

            {% if match != "__pycache__" %}

            <div style="text-align: center; font-size: 80px;"><a style="color: black;" href="matches/{{match}}">{{match[:-3]}}</a></div>
        
            {% endif %}

        {% endfor %}

        <hr>

        <h1 style="text-align: center;">match history is a work in progess...</h1>

        <!--

        {%for match in previous_matches%}

            <div style="text-align: center; font-size: 80px;"><a href="matches/{{match}}/old">{{match}}</a></div>
        
        {% endfor %}-->

    </body>

</html>